<%- include('partials/header') %>

<h1>About</h1>


<!-- <h3> <%= aboutPageContent %> </h3> -->

<h3>Getting travel recommmendations from your community of trusted circles has never been easier</h3>
    
    
<p> 
    Now simply browse or search for the cities you are planning to visit and click on the Google Maps Link to see what places are recommended for that city. 
    
    Use this website as a central directory to find travel recommendations for various cities around the world. 
    
    Contribute your travel recommendations by sharing your Google Maps link for a new city so that your community can find your top recommendations too. To learn how to create and share Google Maps lists, find out more <a href=https://support.google.com/maps/answer/7280933?hl=en&co=GENIE.Platform%3DAndroid&oco=0>here</a>.
</p>
   <h4>
    Pro tip: If you open the Google Maps list link on your mobile Google Maps App, you'll be able to be a co-editer and add other places to the list too 

   </h4>


   <h3>Have a great trip!</h3>
