<%- include('partials/header') %>

<h1>Share Recommendations</h1>

<form class=" " action="/compose" method="post" onsubmit="return validateForm()">
  <div class="form-group">
    <label for="exampleInputTitle">City Name</label>
    <input type="text" class="form-control" name="postTitle" placeholder="Enter Name of City">
  </div>
  <div class="form-group">
    <label for="googleMapsLink">Google Maps Shared List (create a list of places on Google Maps: <a href="https://support.google.com/maps/answer/7280933?hl=en&co=GENIE.Platform%3DAndroid&oco=0" target="_blank">find out how here</a>)</label>
    <textarea class="form-control" id="googleMapsLink" name="postBody" rows="1" placeholder="Enter Google Maps link" required></textarea>
    <p id="validationMessage" style="color: red;"></p>
  </div>

  <div class="form-group">
    <label for="inputDescription">Describe what's special about this city:</label>
    <textarea class="form-control" name="postDescription" rows="3" placeholder="Enter Description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>

<script>
  function validateForm() {
    const googleMapsLink = document.getElementById('googleMapsLink').value;
    const validationMessage = document.getElementById('validationMessage');
    
    // Check if the link contains 'goo.gl/maps'
    if (!googleMapsLink.includes('goo.gl/')) {
      validationMessage.textContent = 'Please enter a valid Google Maps Shared List link.';
      return false; // Prevent form submission
    } else {
      validationMessage.textContent = ''; // Clear validation message
      return true; // Allow form submission
    }
  }
</script>


