<!-- views/error.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>
  <h1>Error - searched term not found, please try again </h1>
  <a class="btn btn-primary btn-lg" href="/">Return to Home</a>
  <p><%= errorMessage %></p>
</body>
</html>